.headerBackground{
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 80px;
    width: 115px;
    position: relative;
    left: 100px;
    z-index: 10;
}

.projectButton{
    height: 40px;
    position: relative;
    right: 140px;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
}

.projectButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.shadow{
    height: 10px;
    width: 100vw;
    box-shadow: 0px 30px 30px 20px black;
    position: absolute;
    top: 65px;
}